# IDE
/.idea/
/*.iml
/*.ipr
/*.iws
/.settings/
/.classpath
/.project
/.metadata/

# Build
/build/
/bin/
/out/
/.gradle/
/gradle/
/gradlew
/gradlew.bat

# Eclipse
/eclipse/
*.launch

# Config
/src/main/resources/
/libs/
/.vscode/
build.gradle

# Logs
log.txt
/logs/
/.cache/